version: '3.2'

services: 
  html:
    image: test/html:1.0
    build: ./html
    container_name: "test_thml"
    volumes: 
      - ../html/src:/usr/local/apache2/htdocs
    stdin_open: true
    tty: true
    ports: 
      - '8080:80'
    working_dir: /usr/local/apache2/htdocs
